__pycache__
.prefectignore
/tmp
dbt_transforms/logs
dbt_transforms/target
.venv
*.duckdb*
node_modules
package-lock.json
package.json
*logs*
.gitattributes
.vscode
*dbt_packages*
*.parquet*
*.user.yml*